<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Judgement</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap");

      * {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: "Source Sans Pro", sans-serif;
      }
      body {
        background-color: #89d7f6;
      }
      .block-system {
        background: #fff;
        max-width: 368px;
        border: 1px solid #3655a4;
        margin: auto;
        border-radius: 5px;
        padding: 25px 23px;
      }
      .block-system li {
        float: left;
        width: 47%;
        padding: 0 5px;
      }
      .block-system ul li h3 {
        color: #3655a4;
        text-align: center;
        font-weight: 300;
      }
      .block-system li img {
        width: 100%;
        max-height: 170px;
      } 
      .block-system ul {
        overflow: hidden;
      }
      .block-system h2 {
        color: #16298c;
        margin-bottom: 25px;
      }
      .block-system li a {
        background-color: #ddf5ff;
        border: 1px solid #3655a4;
        width: 80%;
        display: block;
        margin: 15px auto;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        color: #3655a4;
        font-weight: bold;
      }
      .block-item-design {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="block-item-design">
      <div class="block-system">
        <h2><%=data.text%></h2>
        <ul>
          <% for(var i=0; i < data.answers.length; i++) { %>
          <li>
            <%if (data.answers[i].media) {%>
            <img src="<%=data.s3Url%><%=data.answers[i].media%>" />
            <%}%>
            <h3><%=data.answers[i].text%></h3>
            <a onclick = "run(`<%=data.answers[i]._id%>`)"><%=String.fromCharCode(i+65)%></a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
	function run(aid) {
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		var url = '<%=data.baseUrl%>/api/question/userVoting';
		var person = new Object();
        person.aid = aid;
        person.phid = urlParams.get('phid');
        console.log(person);
		$.ajax({
			url: url,
			type: 'PUT',
			dataType: 'json',
			data: person,
			success: function (data, textStatus, xhr) {
				console.log(data);
        window.location.replace("<%=data.baseUrl%>/urls/thank-you");
			},
			error: function (xhr, textStatus, errorThrown) {
				console.log('Error in Operation');
			}
		});
	}
</script>
